<!DOCTYPE html>
<html>

<head>
    <title>spotifusion</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>

<body>

    <div class="sticky-top text-center pt-3 pb-2 header">
        <h3 class="display-5">spotifusion</h3>
    </div>

    <div class="container-fluid outer">
        <div id="group" class="pe-3 ps-3">
            <strong><h1 id="name-of-group" class="display-1 pt-5">group name</h1></strong>
        </div>
        <div id="pin" class="pe-3 ps-3">
            <h1 class="display-2 text-med">access code: <span id="access-code" class="spotify">....</span></h1>
        </div>
        <div id="users-joined" class="center-box mt-5 p-2">
            <h1 id="whos-in" class="display-2">who's in?</h1>
            <div id="list-users" class="user center-box">
                <!-- DYNAMICALLY LOAD FROM DB -->
                <!-- <h3 class="display-name">erica_goose</h3>
                <h3 class="display-name">uma_buma</h3>
                <h3 class="display-name">yush</h3> -->
            </div>
        </div>
        <div class="mt-5">
            <form>
                <label for="time" class="me-3 fs-3">playlist length:</label>
                <select id="time" class="p-2 fs-3" name="time">
				  <option value="0">thirty minutes</option>
				  <option value="1">one hour</option>
				  <option value="2">two hours</option>
				  <option value="3">three hours</option>
				  <option value="4">four hours</option>
				  <option value="5">five hours</option>
				  <option value="6">six hours</option>
				  <option value="7">seven hours</option>
				  <option value="8">eight hours</option>
				  <option value="9">nine hours</option>
				  <option value="10">ten hours</option>
				  <option value="11">eleven hours</option>
				  <option value="12">twelve hours</option>
				</select>
                <input class="btn btn-lg btn-custom mt-5" type="submit" value="everybody's in!">
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript">

        let title = document.querySelector("#name-of-group").innerHTML;
        if (title.length < 10) {
            console.log("greater than 10")
            document.querySelector("#name-of-group").style.fontSize = "100px";
        }
        else if (title.length < 20) {
            document.querySelector("#name-of-group").style.fontSize = "75px";
        }
        else if (title.length < 30) {
            document.querySelector("#name-of-group").style.fontSize = "50px";
        }
        else {
            document.querySelector("#name-of-group").style.fontSize = "25px";
        }

        let results = '<%= results %>'
            .replace(/&#34;/g, '"')
            .replace(/&#39;/g, "'");

        let resultsJSON = JSON.parse(results);
        console.log(resultsJSON);

        console.log("IN GROUP.HTML");
        console.log(resultsJSON['access_code']);
        console.log(resultsJSON['group_name']);
        document.querySelector("#access-code").innerHTML = resultsJSON['access_code'];
        document.querySelector("#name-of-group").innerHTML = resultsJSON['group_name'];

        let userlist = resultsJSON['group_members'];
        let div = document.querySelector("#list-users");
        div.replaceChildren();
        for (const user in userlist) {
            let tag = document.createElement("h3");
            tag.classList.add("display-name");
            tag.innerHTML = userlist[user].display_name;
            div.appendChild(tag);
        }

        // THEN POLL AND SHOW WHO HAS JOINED
        var intervalId3 = window.setInterval(function() {
            $.ajax({
                method: "GET",
                url: "/refresh_members",
                data: {},
                async: true
            })
            .done(function(res) {
                if (res != "no_refresh") {
                    userlist = res['group_members'];
                    let div = document.querySelector("#list-users");
                    div.replaceChildren();
                    for (const user in userlist) {
                        let tag = document.createElement("h3");
                        tag.classList.add("display-name");
                        tag.innerHTML = userlist[user].display_name;
                        div.appendChild(tag);
                    }
                }
            })
                .fail(function(res) {
                    console.log("FAILED")
                })

        }, 3000);

        $("form").on("submit", function(e) {
            e.preventDefault();
            $.ajax({
                    method: "GET",
                    url: "loading.html",
                    data: {
                        results: results
                    },
                    async: true
                })
                .done(function(res) {
                    location.href = "loading.html?results=" + results;
                })
                .fail(function(res) {
                    console.log("FAILED")
                })
 
        })
    </script>
</body>

</html>