body {
	font-family: 'Raleway', sans-serif;
	background-color: black;
	color: white;
}

.masthead {
  height: 100vh;
  min-height: 500px;
}

.header {
	background-color: #1DB954;
	font-size: 20px;
	border: none;
}

.pin-entry {
	display: inline;
	flex-direction: row;
	width: 20%;
}

.btn-custom {
	background-color: #1DB954;
	font-size: 20px;
	border: none;
	color: black;
	display: block;
	margin: auto;
	width: 250px;
}

.btn-custom-join {
	background-color: #1DB954;
	font-size: 20px;
	border: none;
	color: black;
	display: block;
	justify-content: left;
	width: 125px;
	height: 60px;
}

#name-of-group {
	font-size: 75px;
}

#access-code {
	font-size: 70px;
}

#users-joined {
	border: 4px solid #1DB954;
	max-width: 500px;
}

.center-box {
	margin-left: auto;
	margin-right: auto;
}

.custom-input {
	border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 4px solid white;
  background-color: black;
  box-shadow: none;
  font-size: 55px;
  height: 75px;
  color: #1DB954;
  text-align: center;
}

.custom-input:focus {
	outline: none !important;
	outline-color: black;
	background-color: black;
	box-shadow: none;
	color: white;
}

.outer {
	max-width: 650px;
	text-align: center;
}

.display-name {
	font-size: 20px;
}

#pinform {
	display: flex;
  justify-content: center;
  align-items: center;
}

.spotify {
	color: #1DB954;
}

#time {
	background-color: black;
	border: 1px solid white;
}

@keyframes quiet {
  25%{
    transform: scaleY(.6);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.6);
  }
}
@keyframes loud {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(1.2);
  }
}
#animation {
  display: flex;
  justify-content: center;
  background: black;
  align-items: center;
}

.boxContainer{
  display: flex;
  justify-content: space-between;
  height: 64px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box{
  transform: scaleY(.4);
  height: 100%;
  width: var(--boxSize);
  background: #1DB954;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1{
  animation-name: quiet;
}

.box2{
  animation-name: normal;
}

.box3{
  animation-name: quiet;
}

.box4{
  animation-name: loud;
}

.box5{
  animation-name: quiet;
}